@if (ViewBag.lstVoucherCafena.Count > 0)
{
    foreach (var item in ViewBag.lstVoucherCafena)
    {
        if (ViewBag.priceCompareConditionCafena >= item.condition)
        {
            <div class="W8WT2r">
                <div data-testid="vcCard" class="vc_Card_container vc_Card_shop vc_VoucherStandardTemplate_shop vc_shop-voucher_pc">
                    <div class="vc_Card_card">
                        <div class="vc_Card_left">
                            <div class="vc_Card_sawtooth"></div>
                        </div>
                        <div class="vc_Card_right"></div>
                        <div class="vc_VoucherStandardTemplate_hideOverflow"></div>
                        <div data-testid="voucher-card" class="vc_VoucherStandardTemplate_template" role="presentation">
                            <div class="vc_VoucherStandardTemplate_left" role="presentation">
                                <div data-testid="vcLogo" class="vc_Logo_imageLogo" data-target="shop_icon">
                                    <img class="vc_Logo_logo vc_Logo_circular" src="https://i.pinimg.com/564x/71/9a/37/719a37050cc59029ef0d0dca7f9cb09e.jpg" alt="Logo">
                                </div>
                            </div>
                            <div class="vc_VoucherStandardTemplate_middle" role="presentation" tabindex="0">
                                <div class="vc_A11yAriaText_A11yContent">
                                    <span aria-label=""></span>
                                    <span aria-label=""></span>
                                    <span aria-label="Best Choice"></span>
                                </div>
                                <div data-testid="vcMainTitle" class="vc_MainTitle_mainTitle">
                                    <div class="vc_MainTitle_text vc_MainTitle_defaultLine" style="font-size:17px">$@item.discount off</div>
                                </div>
                                <div data-testid="vcSubtitle" class="vc_Subtitle_subTitle vc_Subtitle_defaultLine" style="font-size:15px">
                                    Minimum order $<span id="condition" style="color:black">@item.condition</span> Maximum discount $<span id="discount-@item.id" style="color:black">@item.discount</span>
                                </div>
                                <div data-testid="vcLabel" class="vc_Label_label"></div>
                                <div data-testid="vcProgressBarExpiry" class="vc_ProgressBarExpiry_progressBarExpiry">
                                    <div class="vc_ProgressBarExpiry_usageLimitedText vc_ProgressBarExpiry_twoRowsLimitText">
                                        <span class="vc_ProgressBarExpiry_validUntil vc_ProgressBarExpiry_capitalize" style="font-size:15px">Expiry: <span id="dateEnd">@item.endDate</span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="vc_VoucherStandardTemplate_right" role="presentation">
                                <div class="vc_VoucherStandardTemplate_center">
                                    <input type="radio" id="checkbox-@item.id" name="checkbox" class="vc_RadioButton_radio" style="width:21px;height:21px;" />
                                </div>
                            </div>
                            @if (item.id == ViewBag.callAutoVou.id)
                            {
                                <div data-testid="vcCornerBadge" id="bestChoice-@item.id" class="vc_CornerBadge_cornerBadge vc_CornerBadge_levelCorner vc_CornerBadge_bestChoice">
                                    <div>Best Choice</div>
                                </div>
                            }

                        </div>
                    </div>
                    <div class="vc_Stack_stack">
                        <div class="vc_Stack_leftSeller"></div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="W8WT2r">
                <div data-testid="vcCard" style="--vc-card-left-fill-color: #e8e8e81f; --vc-card-background-color: #e8e8e81f;" class="vc_Card_container vc_Card_shop vc_VoucherStandardTemplate_shop vc_shop-voucher_pc">
                    <div class="vc_Card_card">
                        <div class="vc_Card_left" style="background: #e8e8e81f; ">
                            <div class="vc_Card_sawtooth"></div>
                        </div>
                        <div class="vc_Card_right"></div>
                        <div class="vc_VoucherStandardTemplate_hideOverflow"></div>
                        <div data-testid="voucher-card" class="vc_VoucherStandardTemplate_template" role="presentation">
                            <div class="vc_VoucherStandardTemplate_left" role="presentation">
                                <div data-testid="vcLogo" class="vc_Logo_imageLogo" data-target="shop_icon">
                                    <img class="vc_Logo_logo vc_Logo_circular" src="https://i.pinimg.com/564x/71/9a/37/719a37050cc59029ef0d0dca7f9cb09e.jpg" alt="Logo">
                                </div>
                            </div>
                            <div class="vc_VoucherStandardTemplate_middle" role="presentation" tabindex="0">
                                <div class="vc_A11yAriaText_A11yContent">
                                    <span aria-label=""></span>
                                    <span aria-label=""></span>
                                    <span aria-label="Best Choice"></span>
                                </div>
                                <div data-testid="vcMainTitle" class="vc_MainTitle_mainTitle">
                                    <div class="vc_MainTitle_text vc_MainTitle_defaultLine" style="font-size:17px;color:grey">$@item.discount off</div>
                                </div>
                                <div data-testid="vcSubtitle" class="vc_Subtitle_subTitle vc_Subtitle_defaultLine" style="font-size:15px;color:grey">
                                    Minimum order $<span id="condition" style="color:grey">@item.condition</span> Maximum discount $<span id="discount" style="color:grey">@item.discount</span>
                                </div>
                                <div data-testid="vcLabel" class="vc_Label_label"></div>
                                <div data-testid="vcProgressBarExpiry" class="vc_ProgressBarExpiry_progressBarExpiry">
                                    <div class="vc_ProgressBarExpiry_usageLimitedText vc_ProgressBarExpiry_twoRowsLimitText">
                                        <span class="vc_ProgressBarExpiry_validUntil vc_ProgressBarExpiry_capitalize" style="font-size:15px;color:grey">Expiry: <span id="dateEnd">@item.endDate</span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="vc_VoucherStandardTemplate_right" role="presentation">
                                <div class="vc_VoucherStandardTemplate_center">
                                    <input type="radio" id="checkbox-@item.id" class="vc_RadioButton_radio" style="width:21px;height:21px;" disabled />
                                </div>
                            </div>
                            <div data-testid="vcCornerBadge" style="display:none" id="bestChoice-@item.id" class="vc_CornerBadge_cornerBadge vc_CornerBadge_levelCorner vc_CornerBadge_bestChoice">
                                <div>Best Choice</div>
                            </div>
                        </div>
                    </div>
                    <div class="vc_Stack_stack">
                        <div class="vc_Stack_leftSeller"></div>
                    </div>
                </div>
            </div>
        }
    }
}
else
{

}