@{ 
    WebAPI_CoffeeShop.Utilities.Comment_SubC_Type_Result subC = ViewBag.subC;
}
<details open class="comment" id="comment-@subC.id" data-id="@subC.id">
    <a href="#comment-@subC.id" class="comment-border-link">
        <span class="sr-only">Jump to comment-1</span>
    </a>
    <summary>
        <div class="d-flex flex-column">
            <div class="comment-heading col-10">
                <div class="comment-info ">
                    <a href="#" class="comment-author">@subC.userName</a>
                    @if (subC.timeSpace == 0)
                    {
                        <p class="m-0">
                            Today
                        </p>
                    }
                    else if (subC.timeSpace >= 1 & subC.timeSpace <= 7)
                    {
                        <p class="m-0">
                            @subC.timeSpace days ago
                        </p>
                    }
                    else if (subC.timeSpace > 7)
                    {
                        <p class="m-0">
                            @subC.dateCreate
                        </p>
                    }
                </div>
            </div>
            <div class="col-2">
                @if (ViewBag.crrUser.ToString() == subC.idAccount)
                {
                    <p id="btnDeleteM" style="right: 21px;top: 27px;position: relative;text-decoration: underline;color: darkred;
                                    font-family: unset;display: flex;justify-content: end;font-size: 13.8px;"
                       data-id="@subC.id">Delete</p>
                }
            </div>
        </div>
    </summary>

    <div class="comment-body">
        <div id="contentEdit" data-id="@subC.id"><p class="txtComment" data-id="@subC.id" data-ureply="">@subC.comment</p></div>
        <div class="d-flex flex-row">
            <button type="button" data-toggle="reply-form" data-target="comment-@subC.id-reply-form"
                    class="replyButton">
                Reply
            </button>
            @if (ViewBag.crrUser.ToString() == subC.idAccount)
            {
                <button type="button" data-toggle="edit-form"
                        data-target="comment-@subC.id-reply-form"
                        class="editButton" data-cm="@subC.comment">
                    Edit
                </button>
            }
        </div>
        <!-- Reply form start -->
        <form method="POST" class="reply-form d-none" id="comment-@subC.id-reply-form" action="#">
            <textarea rows="4" id="comment-@subC.id-reply-form" data-id="@subC.id" maxlength="200"
                      class="contentComment"></textarea>
            <button type="submit" class="submitReply" data-target="comment-@subC.id-reply-form"
                    data-idr="@subC.id" data-idm="@subC.id" data-edit="false">
                Submit
            </button>
            <button type="button" data-toggle="reply-form" data-target="comment-@subC.id-reply-form"
                    class="cancelButton">
                Cancel
            </button>
        </form>
        <!-- Reply form end -->
    </div>
    <div class="replies" data-id="@subC.id">
        <!--Reply Comment Start -->

    </div>
</details>