
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    WebAPI_CoffeeShop.Models.ModelView.ProductView detailsProd = ViewBag.detailsProd;
    var userId = "0";
    HttpCookie reqCookies = Request.Cookies["userInfo"];
    if (reqCookies != null)
    {
        userId = reqCookies["userId"].ToString();
    }
}
<main>
    <!-- breadcrumb area start -->
    <section class="breadcrumb-area pt-140 pb-140 bg_img" data-background="~/Content/assets/images/bg/breadcrumb-bg-1.jpeg" data-overlay="dark" data-opacity="5">
        <div class="shape shape__1"><img src="~/Content/assets/images/shape/breadcrumb-shape-1.png" alt=""></div>
        <div class="shape shape__2"><img src="~/Content/assets/images/shape/breadcrumb-shape-2.png" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12 text-center">
                    <h2 class="page-title">Cafena Product Details</h2>
                    <div class="cafena-breadcrumb breadcrumbs">
                        <ul class="list-unstyled d-flex align-items-center justify-content-center">
                            <li class="cafenabcrumb-item duxinbcrumb-begin">
                                <a href="index.html"><span>Home</span></a>
                            </li>
                            <li class="cafenabcrumb-item duxinbcrumb-end">
                                <span>Products/Details</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb area end -->
    <!-- product details area start -->
    <div class="product-details__area pt-120 pb-110">
        <div class="container">
            <div class="row">
                <div class="col-xl-6">
                    <div class="product-details__wrapper">
                        <div class="pd-img">
                            <div class="tab-content" id="pdContent">
                                <div class="tab-pane fade show active" id="pd-1" role="tabpanel" aria-labelledby="pd-1-tab">
                                    <div class="big-img">
                                        <img src="@detailsProd.image" alt="">
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pd-2" role="tabpanel" aria-labelledby="pd-2-tab">
                                    <div class="big-img">
                                        <img src="@detailsProd.image1" alt="">
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pd-3" role="tabpanel" aria-labelledby="pd-3-tab">
                                    <div class="big-img">
                                        <img src="@detailsProd.image2" alt="">
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pd-4" role="tabpanel" aria-labelledby="pd-4-tab">
                                    <div class="big-img">
                                        <img src="@detailsProd.image3" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pd-tab">
                            <nav>
                                <div class="nav" id="shop-filter-tab" role="tablist">
                                    <a class="nav-link active" id="pd-1-tab" data-bs-toggle="tab" href="#pd-1" role="tab" aria-controls="pd-1" aria-selected="true">
                                        <img src="@detailsProd.image" alt="">
                                    </a>
                                    <a class="nav-link" id="pd-2-tab" data-bs-toggle="tab" href="#pd-2" role="tab" aria-controls="pd-2" aria-selected="true">
                                        <img src="@detailsProd.image1" alt="">
                                    </a>
                                    <a class="nav-link" id="pd-3-tab" data-bs-toggle="tab" href="#pd-3" role="tab" aria-controls="pd-3" aria-selected="true">
                                        <img src="@detailsProd.image2" alt="">
                                    </a>
                                    <a class="nav-link" id="pd-4-tab" data-bs-toggle="tab" href="#pd-4" role="tab" aria-controls="pd-4" aria-selected="true">
                                        <img src="@detailsProd.image3" alt="">
                                    </a>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="product-details__content">
                        <div class="tr-wrapper d-flex align-items-center justify-content-between">
                            <p hidden id="idProduct">@detailsProd.id</p>
                            <h2 class="title">@detailsProd.title</h2>
                            <div class="rating-wrapper d-flex align-items-center justify-content-center">
                                <div class="rattings d-flex align-items-center">
                                    @for (int i = 1; i <= 5; i++)
                                    {
                                        if (i <= ViewBag.avgReview || (i - ViewBag.avgReview < 0.5))
                                        {
                                            <i class="fas fa-star"></i>
                                        }
                                        else
                                        {
                                            <i class="fal fa-star"></i>
                                        }
                                    }
                                </div>
                                <span class="rt-number"><span style="color:black" id="avgReview">@ViewBag.avgReview</span>/5 -- @ViewBag.countReview Customer Review</span>
                            </div>
                        </div>
                        <p>@detailsProd.description</p>
                        <span class="in-stock">
                            <i class="fal fa-check"></i> In Stock
                        </span>

                        @if (detailsProd.finalPrice != detailsProd.price)
                        {
                            <h3 class="price"> $<span style="color:#000" id="unitPrice">@detailsProd.finalPrice</span> / <span style="font-size: 20px;"><del>$@detailsProd.price</del></span></h3>
                        }
                        else
                        {
                            <h3 class="price"> $<span style="color:#000" id="unitPrice">@detailsProd.finalPrice</span> </h3>
                        }
                        <div class="product-quantity d-flex align-items-center">
                            <span>Quantity</span>
                            <input type="number" min="1" max="50" placeholder="1" value="1" id="quantity" autocomplete="off" required>
                            <button class="site-btn" id="btnAddToCart">add to cart</button>
                        </div>
                        <a id="addToWatchList" style=" cursor: pointer;" data-id="@detailsProd.id" class="wishlist"><i class="fas fa-heart"></i> Add to Favorites List</a>
                        <div class="pd-social-wrapper">
                            <span class="share"><i class="fas fa-share"></i> Share</span>
                            <div class="social-links d-flex align-items-center" data-href="https://developers.facebook.com/docs/plugins/" data-layout="" data-size="">
                                <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.youtube.com/" target="_blank" class="fb-xfbml-parse-ignore">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- product details area end -->
    <!-- product info start -->
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="pinfo-tab">
                    <nav>
                        <div class="nav d-flex align-items-center justify-content-center" id="pinfo-tab" role="tablist">
                            <a class="nav-link active" id="pinfo-1-tab" data-bs-toggle="tab" href="#pinfo-1" role="tab" aria-controls="pinfo-1" aria-selected="true">
                                Product Details
                            </a>
                            <a class="nav-link" id="pinfo-3-tab" data-bs-toggle="tab" href="#pinfo-3" role="tab" aria-controls="pinfo-3" aria-selected="true">
                                (@ViewBag.countReview) Review
                            </a>
                        </div>
                    </nav>
                </div>
                <div class="tab-content pinfo-content" id="pinfoContent">
                    <div class="tab-pane fade show active" id="pinfo-1" role="tabpanel" aria-labelledby="pinfo-1-tab">
                        <p>@detailsProd.description</p>
                    </div>
                    <div class="tab-pane fade" id="pinfo-3" role="tabpanel" aria-labelledby="pinfo-3-tab">
                        <div class="pp-comments">
                            @if (ViewBag.lstReview != null)
                            {
                                foreach (var item in ViewBag.lstReview)
                                {
                                    <div class="comment d-flex">
                                        <div class="thumb">
                                            <img src="~/Content/assets/images/author/c-author-1.png" alt="img">
                                        </div>
                                        <div class="content pl-20">
                                            <h5 class="name">Roger West -<span class="date">@item.createDate</span></h5>
                                            <div class="review d-flex">
                                                @for (int i = 1; i <= 5; i++)
                                                {
                                                    if (i <= item.review1)
                                                    {
                                                        <i class="fas fa-star"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="fal fa-star"></i>
                                                    }
                                                }
                                            </div>
                                            <p>@item.content1</p>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        @*<div class="pp-comments-form mt-50">
                                <h4 class="title">Add a Review</h4>
                                <div class="rev-top d-flex align-items-center mb-40">
                                    <span>Your Rating:</span>
                                    <div class="review d-flex align-items-center">
                                        <a href="#0"><i class="fal fa-star"></i></a>
                                        <a href="#0"><i class="fal fa-star"></i></a>
                                        <a href="#0"><i class="fal fa-star"></i></a>
                                        <a href="#0"><i class="fal fa-star"></i></a>
                                        <a href="#0"><i class="fal fa-star"></i></a>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- product info end -->
    <!-- releted products area start -->
    <div class="releted-product__area pt-100 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <h2 class="rp-title mb-30">
                        Reletad Product
                    </h2>
                </div>
            </div>
            <div class="row mt-none-30">
                <div class="col-xl-3 col-lg-6 col-md-6 mt-30">
                    <div class="pp__item pp__item--2 text-center pt-20 pb-20">
                        <div class="pp__action pp__action--2 d-flex align-items-center justify-content-center">
                            <div class="cart d-flex align-items-center justify-content-center">
                                <a href="#0"><i class="fal fa-shopping-basket"></i></a>
                            </div>
                            <div class="wishlist d-flex align-items-center justify-content-center">
                                <a href="#0"><i class="fal fa-heart"></i></a>
                            </div>
                            <div class="view d-flex align-items-center justify-content-center">
                                <a href="#0"><i class="fal fa-eye"></i></a>
                            </div>
                        </div>
                        <div class="pp__thumb pp__thumb--2 mt-35">
                            <img class="default" src="~/Content/assets/images/products/shop/s-p-1.png" alt="">
                            <img class="on-hover" src="~/Content/assets/images/products/shop/s-p-2.png" alt="">
                        </div>
                        <div class="pp__content pp__content--2 mt-25">
                            <div class="pp__c-top d-flex align-items-center justify-content-center">
                                <div class="pp__cat pp__cat--2">
                                    <a href="#0">Rosted Coffee</a>
                                </div>
                            </div>
                            <h4 class="pp__title pp__title--2">
                                <a href="#">vicaragua Coffee Beans</a>
                            </h4>
                            <div class="pp__price pp__price--2 d-flex align-items-center justify-content-center">
                                <h6 class="label">Price - </h6>
                                <span class="price"> $325.00 / <span class="regular"><del>$348</del></span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 mt-30">
                    <div class="pp__item pp__item--2 text-center pt-20 pb-20">
                        <div class="pp__action pp__action--2 d-flex align-items-center justify-content-center">
                            <div class="cart d-flex align-items-center justify-content-center">
                                <a href="#0"><i class="fal fa-shopping-basket"></i></a>
                            </div>
                            <div class="wishlist d-flex align-items-center justify-content-center">
                                <a href="#0"><i class="fal fa-heart"></i></a>
                            </div>
                            <div class="view d-flex align-items-center justify-content-center">
                                <a href="#0"><i class="fal fa-eye"></i></a>
                            </div>
                        </div>
                        <div class="pp__thumb pp__thumb--2 mt-35">
                            <img class="default" src="~/Content/assets/images/products/shop/s-p-2.png" alt="">
                            <img class="on-hover" src="~/Content/assets/images/products/shop/s-p-3.png" alt="">
                        </div>
                        <div class="pp__content pp__content--2 mt-25">
                            <div class="pp__c-top d-flex align-items-center justify-content-center">
                                <div class="pp__cat pp__cat--2">
                                    <a href="#0">Rosted Coffee</a>
                                </div>
                            </div>
                            <h4 class="pp__title pp__title--2">
                                <a href="#">CAFFÈ LATTE</a>
                            </h4>
                            <div class="pp__price pp__price--2 d-flex align-items-center justify-content-center">
                                <h6 class="label">Price - </h6>
                                <span class="price"> $325.00 / <span class="regular"><del>$348</del></span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 mt-30">
                    <div class="pp__item pp__item--2 text-center pt-20 pb-20">
                        <div class="pp__action pp__action--2 d-flex align-items-center justify-content-center">
                            <div class="cart d-flex align-items-center justify-content-center">
                                <a href="#0"><i class="fal fa-shopping-basket"></i></a>
                            </div>
                            <div class="wishlist d-flex align-items-center justify-content-center">
                                <a href="#0"><i class="fal fa-heart"></i></a>
                            </div>
                            <div class="view d-flex align-items-center justify-content-center">
                                <a href="#0"><i class="fal fa-eye"></i></a>
                            </div>
                        </div>
                        <div class="pp__thumb pp__thumb--2 mt-35">
                            <img class="default" src="~/Content/assets/images/products/shop/s-p-3.png" alt="">
                            <img class="on-hover" src="~/Content/assets/images/products/shop/s-p-4.png" alt="">
                        </div>
                        <div class="pp__content pp__content--2 mt-25">
                            <div class="pp__c-top d-flex align-items-center justify-content-center">
                                <div class="pp__cat pp__cat--2">
                                    <a href="#0">Rosted Coffee</a>
                                </div>
                            </div>
                            <h4 class="pp__title pp__title--2">
                                <a href="#">JAPANIS COFFEE GRED</a>
                            </h4>
                            <div class="pp__price pp__price--2 d-flex align-items-center justify-content-center">
                                <h6 class="label">Price - </h6>
                                <span class="price"> $325.00 / <span class="regular"><del>$348</del></span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 mt-30">
                    <div class="pp__item pp__item--2 text-center pt-20 pb-20">
                        <div class="pp__action pp__action--2 d-flex align-items-center justify-content-center">
                            <div class="cart d-flex align-items-center justify-content-center">
                                <a href="#0"><i class="fal fa-shopping-basket"></i></a>
                            </div>
                            <div class="wishlist d-flex align-items-center justify-content-center">
                                <a href="#0"><i class="fal fa-heart"></i></a>
                            </div>
                            <div class="view d-flex align-items-center justify-content-center">
                                <a href="#0"><i class="fal fa-eye"></i></a>
                            </div>
                        </div>
                        <div class="pp__thumb pp__thumb--2 mt-35">
                            <img class="default" src="~/Content/assets/images/products/shop/s-p-4.png" alt="">
                            <img class="on-hover" src="~/Content/assets/images/products/shop/s-p-5.png" alt="">
                        </div>
                        <div class="pp__content pp__content--2 mt-25">
                            <div class="pp__c-top d-flex align-items-center justify-content-center">
                                <div class="pp__cat pp__cat--2">
                                    <a href="#0">Rosted Coffee</a>
                                </div>
                            </div>
                            <h4 class="pp__title pp__title--2">
                                <a href="#">AMERICANO COFFEE</a>
                            </h4>
                            <div class="pp__price pp__price--2 d-flex align-items-center justify-content-center">
                                <h6 class="label">Price - </h6>
                                <span class="price"> $325.00 / <span class="regular"><del>$348</del></span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- releted products area end -->
</main>
<script src="~/Content/assets/js/jquery-2.2.4.min.js"></script>
<script>
    function roundToTwo(num) {
        return +(Math.round(num + "e+2") + "e-2");
    };
    var avgReview = '@ViewBag.avgReview';
    if (Number.isInteger(avgReview)) {
        $("#avgReview").text(avgReview);

    } else {
        $("#avgReview").text(roundToTwo(avgReview));
    }
    $(document).ready(function () {
        $("#quantity").on("blur", function () {
            var checkQuanti = $("#quantity").val();
            if (checkQuanti < 1) {
                $("#quantity").val(1);
            } else if (checkQuanti > 50) {
                $("#quantity").val(50);
            }
        });
        $("#btnAddToCart").click(function () {
            var idProduct = $("#idProduct").text();
            var Amount = $("#quantity").val();
            var Price = parseInt($("#unitPrice").text()) * parseInt(Amount);
            $.ajax({
                type: "get",
                url: "/Cart/AddToCart",
                data: {
                    idProduct: idProduct,
                    Amount: Amount,
                    Price: Price
                },
                success: function (res) {
                    if (res == "True") {
                        Swal.fire({
                            title: "Add to Cart!",
                            text: "The product has been added to cart",
                            icon: "success",
                            showConfirmButton: false,
                            timer: 1500
                        });
                        @{
                            var quantityCart = WebMVC_CoffeeShopSystem.Repositories.CartDao.Instance.quantityCartOfUser(userId.AsInt());
                        }
                        $("#quantityCartLayout").text('@quantityCart');
                    } else {
                        Swal.fire({
                            title: "Add to Cart!",
                            text: "Please signin to add products to cart",
                            icon: "error",
                            showConfirmButton: false,
                            timer: 1500
                        });
                    }
                },
                error: function (response) {
                    console.log(response.responseText);
                }
            });
        });

        $("#addToWatchList").click(function () {
            $.ajax({
                type: "get",
                url: "/Favorites/AddToWatchList",
                data: {
                    idProduct: $(this).data("id"),
                },
                success: function (res) {
                    if (res == "True") {
                        Swal.fire({
                            title: "Add to Favorites list!",
                            text: "The product has been added to favorites list",
                            icon: "success",
                            showConfirmButton: false,
                            timer: 1500
                        });
                    } else {
                        Swal.fire({
                            title: "Remove to Favorites list!",
                            text: "The product has been removed to favorites list",
                            icon: "info",
                            showConfirmButton: false,
                            timer: 1500
                        });
                    }
                },
                error: function (response) {
                    console.log(response.responseText);
                }
            });
        });
    });

</script>
