@{
    ViewBag.Title = "Products";
    IEnumerable<WebAPI_CoffeeShop.Models.ModelView.ProductView> lstProd = ViewBag.lstProd;
    IEnumerable<WebAPI_CoffeeShop.Models.ModelView.CategoryView> menuCate = ViewBag.menuCate;

}

<main>
    <!-- breadcrumb area start -->
    <section class="breadcrumb-area pt-140 pb-140 bg_img" data-background="~/Content/assets/images/bg/breadcrumb-bg-1.jpeg" data-overlay="dark" data-opacity="5">
        <div class="shape shape__1"><img src="~/Content/assets/images/shape/breadcrumb-shape-1.png" alt=""></div>
        <div class="shape shape__2"><img src="~/Content/assets/images/shape/breadcrumb-shape-2.png" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12 text-center">
                    <h2 class="page-title">Cafena Product</h2>
                    <div class="cafena-breadcrumb breadcrumbs">
                        <ul class="list-unstyled d-flex align-items-center justify-content-center">
                            <li class="cafenabcrumb-item duxinbcrumb-begin">
                                <a href="index.html"><span>Home</span></a>
                            </li>
                            <li class="cafenabcrumb-item duxinbcrumb-end">
                                <span>Products</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb area end -->
    @if (lstProd != null)
    {
        <!-- product popup start -->
        <div class="product-popup product-popup-1">
            <div class="view-background">
                <div class="row" id="contentPopup">

                </div>
            </div>
        </div>
        <!-- product popup end -->
        <!-- blog area start -->
        <div class="blog-area pt-120 pb-105">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="shop-filter-wrapper d-flex justify-content-between align-items-center mb-30">
                            <div class="sf-left">
                                <div class="show-text">
                                    <span>Showing @lstProd.Count() results</span>
                                </div>
                            </div>
                            <div class="sf-right d-flex justify-content-end align-items-center">
                                <nav>
                                    <div class="nav" id="shop-filter-tab" role="tablist">
                                        <a class="nav-link active" id="shop-tab-1-tab" data-bs-toggle="tab"
                                           href="#shop-tab-1" role="tab" aria-controls="shop-tab-1"
                                           aria-selected="true"><i class="fas fa-th"></i></a>
                                    </div>
                                </nav>
                                <div class="sort-wrapper ml-45">
                                    <select name="select" id="selectPrice">
                                        <option value="0" id="defaultPrice">Prices</option>
                                        <option value="1">Prices range from High to Low</option>
                                        <option value="2">Prices range from Low to High</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-8 col-lg-8" id="componentProducts">
                        <div class="tab-content" id="shop-tabContent">
                            <div class="tab-pane fade show mt-none-30 active" id="shop-tab-1" role="tabpanel" aria-labelledby="shop-tab-1-tab">
                                <div class="row">
                                    @foreach (var item in lstProd)
                                    {
                                        <div class="col-xl-4 col-lg-6 col-md-6 mt-30 itemlstProd" style="display:none">
                                            <div class="pp__item pp__item--2 active text-center pt-20 pb-20">
                                                <div class="pp__action pp__action--2 d-flex align-items-center justify-content-center">
                                                    <div class="cart d-flex align-items-center justify-content-center">
                                                        <a name="addToCartFast" data-id="@item.id" data-price="@item.finalPrice"><i class="fal fa-shopping-basket"></i></a>
                                                    </div>
                                                    <div class="wishlist d-flex align-items-center justify-content-center">
                                                        <a name="addToWatchListFast" data-id="@item.id" href="#favorites"><i class="fal fa-heart" id="iconHeart-@item.id"></i></a>
                                                    </div>
                                                    @*<div class="view d-flex align-items-center justify-content-center">
                                                            <a href="#0" value="@item.id" class="classPopup"><i class="fal fa-eye"></i></a>
                                                        </div>*@
                                                </div>
                                                <div class="pp__thumb pp__thumb--2 mt-35">
                                                    <img class="default" src="@item.image" alt="" style="height:100%">
                                                    <img class="on-hover" src="@item.image2" alt="" style="height:100%">
                                                </div>
                                                <div class="pp__content pp__content--2 mt-25">
                                                    <div class="pp__c-top d-flex align-items-center justify-content-center">
                                                        <div class="pp__cat pp__cat--2">
                                                            <a href="/Products/Details?idProd=@item.id">@item.titleCate</a>
                                                        </div>
                                                    </div>
                                                    <h4 class="pp__title pp__title--2">
                                                        <a href="/Products/Details?idProd=@item.id">@item.title</a>
                                                    </h4>
                                                    <div class="pp__price pp__price--2 d-flex align-items-center justify-content-center">
                                                        <h6 class="label">Price - </h6>
                                                        @if (item.finalPrice != item.price)
                                                        {
                                                            <span class="price"> $@item.finalPrice / <span class="regular"><del>$@item.price</del></span></span>
                                                        }
                                                        else
                                                        {
                                                            <span class="price"> $@item.finalPrice </span>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12 text-center">
                                <a href="#load" id="loadMore" class="site-btn mt-60">load more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4">
                        <div class="blog__sidebar blog__sidebar--shop mt-none-30">
                            <div class="widget mt-30">
                                <h2 class="title">Search Here</h2>
                                <div class="search-widget">
                                    <input id="searchKeyWord" placeholder="Search Product" autocomplete="off">
                                    <button type="button" id="btnSearch"><i class="fal fa-search"></i></button>
                                </div>
                            </div>
                            @if (menuCate != null)
                            {
                                <div class="widget mt-30">
                                    <h2 class="title">Categories</h2>
                                    <ul>
                                        @foreach (var item in menuCate)
                                        {
                                            <li style="cursor:pointer" name="menuCate" id="menuCate-@item.id" data-id="@item.id" class="cat-item"><a>@item.title</a> <span>@item.amountProductOfCate</span></li>
                                        }
                                    </ul>
                                </div>
                            }

                            <div class="widget mt-30">
                                <h2 class="title">top Product</h2>
                                <div class="recent-posts top-products">
                                    <div class="item d-flex align-items-center">
                                        <div class="thumb">
                                            <img src="~/Content/assets/images/products/t-p-1.png" alt="">
                                        </div>
                                        <div class="content">
                                            <div class="rating d-flex align-items-center justify-content-center">
                                                <a href="#0"><i class="fal fa-star"></i></a>
                                                <a href="#0"><i class="fal fa-star"></i></a>
                                                <a href="#0"><i class="fal fa-star"></i></a>
                                                <a href="#0"><i class="fal fa-star"></i></a>
                                                <a href="#0"><i class="fal fa-star"></i></a>
                                            </div>
                                            <h5 class="rp-title border-effect"><a href="product-details.html">Coffe americano</a></h5>
                                            <div class="pp__price">
                                                <span class="price"> $325.00 / <span class="regular"><del>$348</del></span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item d-flex align-items-center">
                                        <div class="thumb">
                                            <img src="~/Content/assets/images/products/t-p-2.png" alt="">
                                        </div>
                                        <div class="content">
                                            <div class="rating d-flex align-items-center justify-content-center">
                                                <a href="#0"><i class="fal fa-star"></i></a>
                                                <a href="#0"><i class="fal fa-star"></i></a>
                                                <a href="#0"><i class="fal fa-star"></i></a>
                                                <a href="#0"><i class="fal fa-star"></i></a>
                                                <a href="#0"><i class="fal fa-star"></i></a>
                                            </div>
                                            <h5 class="rp-title border-effect"><a href="product-details.html">Coffe americano</a></h5>
                                            <div class="pp__price">
                                                <span class="price"> $325.00 / <span class="regular"><del>$348</del></span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item d-flex align-items-center">
                                        <div class="thumb">
                                            <img src="~/Content/assets/images/products/t-p-3.png" alt="">
                                        </div>
                                        <div class="content">
                                            <div class="rating d-flex align-items-center justify-content-center">
                                                <a href="#0"><i class="fal fa-star"></i></a>
                                                <a href="#0"><i class="fal fa-star"></i></a>
                                                <a href="#0"><i class="fal fa-star"></i></a>
                                                <a href="#0"><i class="fal fa-star"></i></a>
                                                <a href="#0"><i class="fal fa-star"></i></a>
                                            </div>
                                            <h5 class="rp-title border-effect"><a href="product-details.html">Coffe americano</a></h5>
                                            <div class="pp__price">
                                                <span class="price"> $325.00 / <span class="regular"><del>$348</del></span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item d-flex align-items-center">
                                        <div class="thumb">
                                            <img src="~/Content/assets/images/products/t-p-4.png" alt="">
                                        </div>
                                        <div class="content">
                                            <div class="rating d-flex align-items-center justify-content-center">
                                                <a href="#0"><i class="fal fa-star"></i></a>
                                                <a href="#0"><i class="fal fa-star"></i></a>
                                                <a href="#0"><i class="fal fa-star"></i></a>
                                                <a href="#0"><i class="fal fa-star"></i></a>
                                                <a href="#0"><i class="fal fa-star"></i></a>
                                            </div>
                                            <h5 class="rp-title border-effect"><a href="product-details.html">Coffe americano</a></h5>
                                            <div class="pp__price">
                                                <span class="price"> $325.00 / <span class="regular"><del>$348</del></span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- blog area end -->
    }
</main>
<script src="~/Content/assets/js/jquery-2.2.4.min.js"></script>
<script>
    $(document).ready(function () {
        $(".itemlstProd").slice(0, 6).show();
        $("#loadMore").on("click", function (e) {
            e.preventDefault();
            $(".itemlstProd:hidden").slice(0, 6).slideDown();
            if ($(".itemlstProd:hidden").length == 0) {
                $("#loadMore").hide();
            }
        });
        //$(".classPopup").on("click", function () {
        //    //$(".product-popup").hide();
        //    var valIdProd = $(this).attr("value");
        //    $.ajax({
        //        type: "get",
        //        url: "/Products/popupProd",
        //        data: {
        //            idProd: valIdProd,
        //        },
        //        success: function (res) {
        //            $("#contentPopup").html("");
        //            $("#contentPopup").html(res);
        //            //$('.overlay, .product-popup-1').addClass('show-popup');
        //            $('.product-p-close').on('click', function () {
        //                $('.overlay, .popup-coffe-mechine, .product-popup').removeClass('show-popup');
        //            });
        //        },
        //        error: function (response) {
        //            console.log(response.responseText);
        //        }
        //    });
        //});
        $("a[name='addToCartFast']").click(function () {
            var Amount = 1;
            var Price = parseInt($(this).data("price")) * parseInt(Amount);
            $.ajax({
                type: "get",
                url: "/Cart/AddToCart",
                data: {
                    idProduct: $(this).data("id"),
                    Amount: Amount,
                    Price: Price
                },
                success: function (res) {
                    if (res == "True") {
                        Swal.fire({
                            title: "Add to Cart!",
                            text: "The product has been added to cart",
                            icon: "success",
                            showConfirmButton: false,
                            timer: 1500
                        });
                        @{
                            HttpCookie reqCookies = Request.Cookies["userInfo"];
                            var userId = 0;
                            if (reqCookies != null)
                            {
                                userId = reqCookies["userId"].ToString().AsInt();
                            }
                            var quantityCart = WebMVC_CoffeeShopSystem.Repositories.CartDao.Instance.quantityCartOfUser(userId);
                        }
                        $("#quantityCartLayout").text('@quantityCart');
                    } else {
                        Swal.fire({
                            title: "Add to Cart!",
                            text: "Please signin to add products to cart",
                            icon: "error",
                            showConfirmButton: false,
                            timer: 1500
                        });
                    }
                },
                error: function (response) {
                    console.log(response.responseText);
                }
            });
        });
        $("a[name='addToWatchListFast']").click(function () {
            $.ajax({
                type: "get",
                url: "/Favorites/AddToWatchList",
                data: {
                    idProduct: $(this).data("id"),
                },
                success: function (res) {
                    if (res == "True") {
                        Swal.fire({
                            title: "Add to Favorites list!",
                            text: "The product has been added to favorites list",
                            icon: "success",
                            showConfirmButton: false,
                            timer: 1500
                        });
                    } else if (res == "False") {
                        Swal.fire({
                            title: "Remove to Favorites list!",
                            text: "The product has been removed to favorites list",
                            icon: "info",
                            showConfirmButton: false,
                            timer: 1500
                        });
                    } else {
                        Swal.fire({
                            title: "Add to Favorites list!",
                            text: "Please signin to add products to favorites list",
                            icon: "error",
                            showConfirmButton: false,
                            timer: 1500
                        });
                    }
                },
                error: function (response) {
                    console.log(response.responseText);
                }
            });
        });
        $("#btnSearch").click(function () {
            document.getElementById("defaultPrice").selected = "true";
            var menuIdCate = document.querySelectorAll(`[id^="menuCate-"]`);
            menuIdCate.forEach(item => {
                if (document.getElementById(item.id).style.borderColor == "black") {
                    document.getElementById(item.id).style.borderColor = "";
                }
            });
            var keyword = $("#searchKeyWord").val();
            $.ajax({
                type: "get",
                url: "/Products/SearchProductsByKeyWord",
                data: {
                    keyword: keyword
                },
                success: function (res) {
                    $("#componentProducts").html(res);
                },
                error: function (response) {
                    console.log(response.responseText);
                }
            });
        });
        $('#searchKeyWord').keypress(function (event) {
            var keyword = $("#searchKeyWord").val();
            var keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == '13') {
                document.getElementById("defaultPrice").selected = "true";
                var menuIdCate = document.querySelectorAll(`[id^="menuCate-"]`);
                menuIdCate.forEach(item => {
                    if (document.getElementById(item.id).style.borderColor == "black") {
                        document.getElementById(item.id).style.borderColor = "";
                    }
                });
                $.ajax({
                    type: "get",
                    url: "/Products/SearchProductsByKeyWord",
                    data: {
                        keyword: keyword
                    },
                    success: function (res) {
                        $("#componentProducts").html(res);
                    },
                    error: function (response) {
                        console.log(response.responseText);
                    }
                });
            }
        });

        $("li[name='menuCate']").click(function (e) {
            document.getElementById("defaultPrice").selected = "true";
            $("#searchKeyWord").val("");
            var idCate = e.target.getAttribute('data-id');
            if (document.getElementById("menuCate-" + idCate).style.borderColor == "black") {
                document.getElementById("menuCate-" + idCate).style.borderColor = "";
            } else {
                document.getElementById("menuCate-" + idCate).style.borderColor = "black";
            }
            var lstIdCate = "";
            var menuIdCate = document.querySelectorAll(`[id^="menuCate-"]`);
            menuIdCate.forEach(item => {
                if (document.getElementById(item.id).style.borderColor == "black") {
                    var idCateTemp = item.id.slice(9);
                    if (lstIdCate == "") {
                        lstIdCate = lstIdCate + idCateTemp;
                    } else {
                        lstIdCate = lstIdCate + "," + idCateTemp;
                    }
                }
            });
            $.ajax({
                type: "get",
                url: "/Products/SearchProductsByCategory",
                data: {
                    lsIdCategory: lstIdCate
                },
                success: function (res) {
                    $("#componentProducts").html(res);
                },
                error: function (response) {
                    console.log(response.responseText);
                }
            });

        });

        $("#selectPrice").change(function () {
            $("#searchKeyWord").val("");
            var menuIdCate = document.querySelectorAll(`[id^="menuCate-"]`);
            menuIdCate.forEach(item => {
                if (document.getElementById(item.id).style.borderColor == "black") {
                    document.getElementById(item.id).style.borderColor = "";
                }
            });
            $.ajax({
                type: "get",
                url: "/Products/SearchProductsByPrice",
                data: {
                    typePrice: $("#selectPrice").val()
                },
                success: function (res) {
                    $("#componentProducts").html(res);
                },
                error: function (response) {
                    console.log(response.responseText);
                }
            });
        });
    });
</script>