@{ 
    IEnumerable<WebAPI_CoffeeShop.Models.ModelView.ProductView> lstProd = ViewBag.lstProdSearch;
}
<div class="tab-content" id="shop-tabContent">
    <div class="tab-pane fade show mt-none-30 active" id="shop-tab-1" role="tabpanel" aria-labelledby="shop-tab-1-tab">
        <div class="row">
            @foreach (var item in lstProd)
            {
                <div class="col-xl-4 col-lg-6 col-md-6 mt-30 itemlstProd" style="display:none">
                    <div class="pp__item pp__item--2 active text-center pt-20 pb-20">
                        <div class="pp__action pp__action--2 d-flex align-items-center justify-content-center">
                            <div class="cart d-flex align-items-center justify-content-center">
                                <a name="addToCartFast" data-id="@item.id" data-price="@item.finalPrice"><i class="fal fa-shopping-basket"></i></a>
                            </div>
                            <div class="wishlist d-flex align-items-center justify-content-center">
                                <a name="addToWatchListFast" data-id="@item.id" href="#favorites"><i class="fal fa-heart" id="iconHeart-@item.id"></i></a>
                            </div>
                            @*<div class="view d-flex align-items-center justify-content-center">
                                    <a href="#0" value="@item.id" class="classPopup"><i class="fal fa-eye"></i></a>
                                </div>*@
                        </div>
                        <div class="pp__thumb pp__thumb--2 mt-35">
                            <img class="default" src="@item.image" alt="" style="height:100%">
                            <img class="on-hover" src="@item.image2" alt="" style="height:100%">
                        </div>
                        <div class="pp__content pp__content--2 mt-25">
                            <div class="pp__c-top d-flex align-items-center justify-content-center">
                                <div class="pp__cat pp__cat--2">
                                    <a href="/Products/Details?idProd=@item.id">@item.titleCate</a>
                                </div>
                            </div>
                            <h4 class="pp__title pp__title--2">
                                <a href="/Products/Details?idProd=@item.id">@item.title</a>
                            </h4>
                            <div class="pp__price pp__price--2 d-flex align-items-center justify-content-center">
                                <h6 class="label">Price - </h6>
                                @if (item.finalPrice != item.price)
                                {
                                    <span class="price"> $@item.finalPrice / <span class="regular"><del>$@item.price</del></span></span>
                                }
                                else
                                {
                                    <span class="price"> $@item.finalPrice </span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12 text-center">
        <a href="#load" id="loadMore" class="site-btn mt-60">load more</a>
    </div>
</div>
<script>
    $(".itemlstProd").slice(0, 6).show();
    $("#loadMore").on("click", function (e) {
        e.preventDefault();
        $(".itemlstProd:hidden").slice(0, 6).slideDown();
        if ($(".itemlstProd:hidden").length == 0) {
            $("#loadMore").hide();
        }
    });
</script>